/* page structure*/
body {
    display: grid;
  overflow-y: hidden;
  margin-right: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
}
.container{
  height: 100vh;
}
.left {
    
    width: 35vw;
    height: 100vh;
  float: left;
  
    
}
.top-right{
  background-color: rgb(38, 39, 33); 
  height: 33vh;
  width: 65vw;
  float: right;
  font-family: 'Oswald', sans-serif;
}

.middle-right{
  color:azure;
  height: 40vh;
    background-color: rgb(70, 70, 58);
    float: right;
    width: 65vw;
    padding-top: 3em;
    
}

.backgroundpic {
  width: 35vw;
    height: 100%;
    position: absolute;
    float: left;
    
}

.bottom {
  height: 40vh;
    background-color: rgb(38, 39, 33);
    float: right;
    width: 65vw;
}
/* form styles*/
  .overlay {
    width: 35vw;
    top: 80vh;
    position:relative;
    opacity: 65%;
    
  }  

  .topText{
    color: white;
    text-align: center;
    margin-top: 8%;
  }
    
  label, input {
    display: block;
    margin-top: .5em;
    font-size: large;
    
  }
  .formRight {
    float: right;
    margin-right: 10em;
  }
  .formLeft {
    float: left;
    margin-left: 10em;
  }
  input {
    border-radius: 8px;
  }
  input:hover {
    background-color: rgb(11, 159, 125);
  }
  .button {
    font-size:35px;
    border-radius: 12px;
    display: grid;
    justify-content: center;
     background-color: gray;
     margin-top: 1em;
     margin-left:33%;
    
  }
  .button:hover{
    background-color: rgb(71, 71, 52);
  }
  .link{
    color: red;
  }
  .login{
    color:aliceblue;
    margin-left: 36%;
  }